@import "tailwindcss";

/* Import your fonts first */
@import "./fonts.css";

/* Tailwind plugins */
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

/* Project styles */
@import "./tokens.css";
@import "./globals.css";
@import "./animations.css";
@import "./effects.css";
@import "./utilities.css";
@import "./components.css";
@utility btn {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: ButtonFace;
}
